doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui")
    
    script(src="javascripts/components/angular.js")
    script(src="javascripts/components/d3.js")
    script(src="javascripts/components/nv.d3.js")
    script(src="javascripts/components/angularjs-nvd3-directives.js")
    script(src="javascripts/jquery.min.js")
      
    script(src="javascripts/controllers.js")
    script(src="javascripts/piechart.js")
      
    link(rel="stylesheet" href="stylesheets/components/nv.d3.css")
    link(rel="stylesheet" href="stylesheets/style.css")
  
  body(ng-app="nvd3TestApp")
    section.main
      block content
