@import 'nib'

// Colours
background-colour = #F5F5F5
text-color = #444

html
  height 100%

body
  background background-colour
  color text-color

@media screen and (min-width : 320px)
  // Screensize 320px

@media screen and (min-width : 480px)
  // Screensize 480px

@media screen and (min-width : 768px)
  // Screensize 768px

@media screen and (min-width : 992px)
  // Screensize 992px

@media screen and (min-width : 1200px)
  // Screensize 1200px
